@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sideNav{
    padding-right: 0px;
    border-right: 0px;
    margin-right: 0px;
}
#wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar{
    width: 200px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fafafa;
    background: #ee9bac;
}
#sidebar ul{
    list-style-type: none;
}
#sidebar ul p {
    color: #fafafa;
    padding: 10px;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ee9bac;
}
#sidebar ul li a:hover {
    color: #ee9bac;
    background: #fafafa;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.topnav {
  overflow: hidden;
  background-color:   #E8E8E8;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 17px;
}

.search {
  padding-bottom: 5px: 
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 20;
  overflow-x: hidden;
  padding-top: 100px;
}

/* Control the left side */
.left {
  display: block;
  left: 0;
  border-top-color: black 10px;
  border-right-color: black 2px;
  background: #faf3dc;

}

/* Control the right side */
.right {
  display: block;
  right: 0;
  border-top-color: black 2px;
  background: #faf3dc;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
}

